.search {
    display: flex;
    background-color: var(--white);
    border-bottom: 0.125rem solid var(--blue-gray-100);
    padding: 0 1.2rem;

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        stroke: var(--blue-gray-500);
        margin-right: 0.5rem;
    }

    &__button-group {
      display: flex;
      padding: 0.75rem 0;
      margin-left: 2rem;
    }
}