@import "../../../styles/base/animations";
@import "../../../styles/abstracts/mixins";

.navbar {
  position: relative;

  &__top-container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1.2rem;
    border-bottom: 0.125rem solid var(--blue-gray-100);
  }

  &__menu-icon {
    fill: var(--blue-gray-500);
    margin-left: auto;
    height: 2rem;
    width: 2rem;
  }

  &__bottom-container {
    width: 100vw;
    background-color: var(--white);
    position: absolute;
    transform: translateX(100vw);
    pointer-events: none;

    @include respond(lg) {
        pointer-events: unset;
    }
  }

  &__bottom-container--show {
    animation: sideIn 0.5s forwards;
    pointer-events: unset;
  }

  &__bottom-container--hide {
    animation: sideOut 0.5s forwards;
  }
}
