@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.hero-image {
  width: 100%;
  // height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-xl);

  @include respond(lg) {
    height: 24rem;
  }

  &--inner-shadow {
    box-shadow: var(--inner-shadow);
  }
}
