@import "../../../styles/abstracts/mixins";

.button-secondary {
    color: var(--primary-500);
    border: solid 0.125rem var(--primary-500);
    background-color: transparent;
    @include text-base;
    border-radius: 	0.25rem;
    padding: 0.5rem;
    cursor: pointer;
}