@import "../../../styles/abstracts/variables";

.standard-image {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius-xl);

  &--inner-shadow {
    box-shadow: var(--inner-shadow);
  }
}
