@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.movie {
  margin: 1.5rem 2rem;
  @include respond(lg) {
    margin: 0;
  }

  &__image-container {
    position: relative;
    border-radius: 1rem;
    height: 12rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    @include respond(md) {
      height: 20rem;
    }

    @include respond(lg) {
      height: 33.75rem;
    }
  }

  &__button-favorites-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
}
