@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.movie {
  margin: 1.5rem 2rem;
  @include respond(lg) {
    margin: 0;
  }

  &__image-container {
    position: relative;
    border-radius: 1rem;
    height: 12rem;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-bottom: 2.75rem;

    @include respond(md) {
      height: 20rem;
    }

    @include respond(lg) {
      height: 33.75rem;
      margin-bottom: 0;
    }
  }

  &__button-favorites-container {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }

  &__genre-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
  }

  &__para-container {
    margin-bottom: 2.25rem;
  }

  &__genre-container .movie__score {
    margin: 0;
  }

  &__button-icon {
    height: 1.5rem;
    width: 1.5rem;
    stroke: var(--white);
  }
}
