@import '/src/styles/abstracts/mixins';

.logo {
  display: flex;
  margin-top: 1.25rem;

  &__image {
      height: auto;
      width: 2rem;
      margin-right: 0.5rem; 
  }

  &__text {
    @include text-2xl;
    color: var(--blue-gray-800);
  }
}
