.nav {
    height: calc(100vh - 2rem);
    background-color: var(--white);

    &__list {
        padding-top: 1rem;
    }

    &__item {
       padding: 0.75rem 0;
    }


    &__link, &__link--active {
        display: flex;
        align-items: center;
        color: var(--blue-gray-500);
    }

    &__link {
        padding-left: 1.25rem;
    }

    &__link--active {
        padding-left: 1rem;
        border-left: 0.25rem solid  var(--primary-500);
    }

    &__link--active &__icon {
        stroke: var(--primary-500);
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.5rem;
        stroke: var(--blue-gray-500);
    }
}