*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 16px;
    color: var(--blue-gray-500);
}

body {
   background-color: var(--background);
   font-family: 'Roboto';
   overflow-y: hidden;
}

textarea:focus, input:focus{
    outline: none;
}

a {
    text-decoration: none;
}