@import "../../../styles/base/animations";
@import "../../../styles/abstracts/mixins";

.header {
  position: relative;
  border-right: 0.125rem solid var(--blue-gray-100);

  &__top-container {
    display: flex;
    align-items: center;
    background-color: var(--white);
    padding: 1.2rem;
    border-bottom: 0.125rem solid var(--blue-gray-100);

    @include respond(md) {
      border-bottom: 0;
    }
  }

  &__menu-icon-container {
    margin-left: auto;
    @include respond(md) {
      display: none;
    }
  }

  &__menu-icon {
    fill: var(--blue-gray-500);
    height: 2rem;
    width: 2rem;
  }

  &__bottom-container {
    //width: 100vw;
    display: none;
    background-color: var(--white);
    position: absolute;
    transform: translateX(62.5rem);
    pointer-events: none;

    @include respond(md) {
      position: relative;
      width: 100%;
      pointer-events: unset;
    }
  }

  &__bottom-container--show {
    //animation: slideIn 0.5s forwards;
    pointer-events: unset;

    @include respond(md) {
      transform: translateX(0);
      animation: unset;
    }
  }

  &__bottom-container--hide {
    //animation: slideOut 0.5s forwards;

    @include respond(md) {
      //transform: translateX(0);
      animation: unset;
    }
  }
}
